<h1>Listing people</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Phone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<div id="people">
  <%= render @people %>
</div>

</table>

<%= page_navigation_links @people %>

<br />

<%= link_to 'New Person', new_person_path %>
