<h1>Listing people</h1>

<div class="span3">Name</div>
<div class="span3">Phone</div>
<div class="span4">Actions</div><br />
<div id="people">
  <%= render @people %>
</div>

<%= page_navigation_links @people %>

<br />

<%= link_to 'New Person', new_person_path %>
