<h3>Tasks</h3>
<a class="btn primary" data-controls-modal="tasks-form" data-backgrop="static">New Task</a>

<ul id="tasks">
  <% f.tasks.each do |task| %>
    <%= render "tasks/task", task: task if task.id %>
  <% end %>
</ul>

<div id="tasks-form" class="modal hide">
<%= render "tasks/form", f: f %>
</div>
