<h3>Tasks</h3>
<%= link_to "New Task", new_opportunity_task_path(f), remote: true, class: "btn" %>

<ul id="tasks">
  <% f.tasks.each do |task| %>
    <%= render "tasks/task", task: task if task.id %>
  <% end %>
</ul>

<div id="tasks-form" class="modal hide">
<%= render "tasks/form", f: f %>
</div>
