<h2>Open Tasks</h2>
<ul id="opentasks">
  <% @open_tasks.each do |task| %>
    <%= render "tasks/task", task: task if task.id %>
  <% end %>
</ul>

<h2>Closed Tasks</h2>
<ul id="closedtasks">
  <% @closed_tasks.each do |task| %>
    <%= render "tasks/task", task: task if task.id %>
  <% end %>
</ul>
