body {
	background: #cff;
}

header {
	padding-top: 0px;
}

header img {
	padding: 1em;
	background: #fff;
}

section {
	font-size: 10px;
	background-color: #fff;
}

section h1 {
	font-size: 200%;
}

span.navigation {
	float: right;
}

/* icons */
.ui-icon
{
	display: inline-block !important;
}

/* Links */

a {
	color: #09c;
	text-decoration: none;
}

a:hover {
	color: #069;
	text-decoration: underline;
}

a:visited {
	color: #069;
}

/* Navigation */

nav {
	float: right;
}

nav {
	background-color: white;
	padding: 0 0.7em;
	white-space: nowrap;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 0.2em 0;
}

nav ul li a {
	padding: 0 5px;
	font-weight: bold;
}

nav ul li a:visited {
	color: #09c;
}

nav ul li a:hover {
	text-decoration: underline;
}

/* Menu */
.wijmo-wijmenu-text {
	font-weight: bold;
}

/* Round corners */

.round {
	-moz-border-radius: 	10px;
	-webkit-border-radius: 	10px;
	border-radius: 			10px;
}

/* Footer */

footer {
	text-align: center;
	margin-top: 10px;
	width: 710px;
	margin-left: auto;
	margin-right: auto;
}

footer nav {
	float: none;
}

/* User show page */

table.profile {
	width: 100%;
	margin-bottom: 0;
}

td.main {
	width: 70%;
	padding: 1em;
}

td.sidebar {
	width: 30%;
	padding: 1em;
	vertical-align: top;
	background: #ffc;
}

.profile img.gravatar {
	border: 1px solid #999;
	margin-bottom: -15px;
}

/* Forms */

.field_with_errors {
	margin-top: 10px;
	padding: 2px;
	background-color: red;
	display: table;
}

.field_with_errors label {
	color: #fff;
}

#error_explanation {
	width: 400px;
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	background-color: #f0f0f0;
}
#error_explanation h2 {
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	margin: -7px;
	background-color: #c00;
	color: #fff;
}

#error_explanation p {
	color: #333;
	margin-bottom: 0;
	padding: 5px;
}

#error_explanation ul li {
	font-size: 12px;
	list-style: square;
}

/* Users list */
ul.users {
	margin-top: 1em;
}

.users li {
	list-style: none;
}

/* Opportunities */
table.opportunities th {
	vertical-align: bottom;
}

table.opportunities td {
	vertical-align: top;
}

table.opportunities th.icons {
	width: 16px;
}

/* icons */
.ui-icon.watched {
	background-image: url(redmond/images/ui-icons_cd0a0a_256x240.png);
}

.ui-icon.owned {
	background-image: url(redmond/images/ui-icons_f9bd01_256x240.png);
}

/* overrides */

textarea {
	height: auto;
	width: auto;
	padding: 0px;
}

/* Simple Form */
.simple_form label {  
  float: left;  
  width: 70px;
  text-align: right;  
  margin: 2px 10px;  
}  
  
/*
.simple_form div.input {  
  margin-bottom: 10px;  
}  
*/

.simple_form div.boolean {  
  margin-left: 120px;  
}  
  
.simple_form div.boolean label {  
  float: none;  
  margin: 0;  
}

.white {
	background: #fff;
}

.checkboxes label {
    display: block;
	float: left;
	padding-right: 10px;
    padding-left: 24px;
    text-indent: -24px;
}

tr.even td {background:#e5ecf9;}

/* Announcement */

div.announcement {
	
}

div.announcement span.message p, div.announcement hr {
	margin-bottom: 0;
	margin-left: 2em;
	margin-right: 2em;

}
div.announcement div.footer {
	margin-left: 2em;
}

div.announcement div.footer span {
	font-size: 75%;
}