<div class="span6 well">
<% title ||= "Text Portlet" %>
<div class="portlet">
    <div class="portlet-header"><%= title %></div>
    <div class="portlet-content">
        <%= text %>
    </div>
</div>
</div>