<table>
	<tr>
		<th>Email</th>
		<th>Roles</th>
		<th></th>
	</tr>
	<% @users.each do |user| %>
	<tr>
		<td><%= user.email %></td>
		<td><%= user.roles %></td>
		<td><%= link_to 'Edit', edit_user_path(user), :class => "ui-icon ui-icon-pencil", :title => "Edit" %> 
		  <%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete, :class => "ui-icon ui-icon-trash", :title => "Destroy" %></td>
	</tr>
	<% end %>
</table>
