<% if user_signed_in? %>
<% session[:current_user] = current_user %>
<h1>IntePros Federal Opportunity Dashboard</h1>

<div class="column span-8">
	<%= portlet :upcoming_opportunities %>
	<%= portlet :my_upcoming_opportunities %>
</div>
<div class="column span-16 last">
	<%= portlet :opportunities_by_department %>
	
	<%= portlet :opportunities_by_input_status %>
</div>
<div class="clearfix"></div>

<% else %>
 <h1>Sign in</h1>
<% end %>