<table>
  <tr>
    <th class='span-2'>Acronym</th>
    <th class='span-10'>Program Name<br/>
    	Department<br/>
		Agency</th>
    <th class='span-11'>Description</th>
	<th class='span-1 last'></th>
  </tr>

  <%= render @opportunities %>

</table>

<br />

<%= link_to 'New Opportunity', new_opportunity_path %>
