<h1>Listing opportunities</h1>

<table>
  <tr>
    <th>Acronym</th>
    <th>Program Name</th>
    <th>Department</th>
	<th>Agency</th>
    <th>Description</th>
	<th></th>
	<th></th>
	<th></th>
  </tr>

<%= render(@opportunities) %>

</table>

<br />

<%= link_to 'New Opportunity', new_opportunity_path %>
